---
layout: default
---

<div class="row">
    <div class="col-12 col-lg-10">
        <div class="mb-3">
            <a class="small text-muted" href="{{ '/blogs' | relative_url }}"><i class="fas fa-arrow-left"></i> Back to Blogs</a>
        </div>
        <article class="bg-white shadow-sm rounded-xl p-4 p-md-5">
            <h2 class="mb-2">{{ page.title }}</h2>
            {% if page.date %}
            <div class="text-muted small mb-4"><em>{{ page.date | date: "%B %d, %Y" }}</em></div>
            {% endif %}
            <div class="blog-content">
                {{ content }}
            </div>
        </article>
    </div>
</div>
